[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2-binary = "*"
retry = "*"
pydantic = "*"
pydantic-settings = "*"
requests = "*"
pandas = "*"
sqlalchemy = "*"
SQLAlchemy = "*"
colorama = "*"
PyGithub = "*"

[requires]
python_version = "3.11"
